{% extends 'base.html.twig' %}

{% block title %}Add New Appointment | Clinic Manager
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h1 class="mb-1">Add New Appointment</h1>
                <p class="text-secondary mb-0">
                    Fill in the information below to create a new appointment.
                </p>
            </div>

            <a href="{{ path('app_appointment_index') }}" class="btn btn-primary">
                Back to Appointments
            </a>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card border-0 shadow-sm border">
                    <div class="card-body p-4 p-md-5">
                        <h2 class="h5 mb-4">Appointment Information</h2>

                        {{ form_start(form) }}

                        <div class="row g-3">
                           

                            <div class="col-md-6 text-primary">
                                {{ form_row(form.patient) }}
                            </div>

                            <div class="col-md-6 text-primary">
                                {{ form_row(form.doctor) }}
                            </div>

                            <div class="col-md-6 text-primary">
                                {{ form_row(form.appointmentDate) }}
                            </div>

                            <div class="col-md-6 text-primary">
                                {{ form_row(form.reason) }}
                            </div>
                            <div class="col-md-6 text-primary">
                                {{ form_row(form.status) }}
                            </div>
                        </div>    
                        <button type="submit" class="btn btn-success mt-4 px-4">
                            Save Appointment
                        </button>                    

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}  